{# {% extends 'base.back.html.twig' %}

{% block title %}Nouvelles coordonnées{% endblock %}

{% block body %}
    <h1>Create new Info</h1>

    {{ include('admin_info/_form.html.twig') }}

    <a href="{{ path('app_admin_info_index') }}">back to list</a>
{% endblock %} #}
