{% extends 'base.back.html.twig' %}

{% block title %}Hello AdminDashboardController!
{% endblock %}

{% block body %}
<div class="programmation">

    <div id="external-events">
    </div>

    <div id="calendrier">
    </div>

</div>
{% endblock %}
