<form method="post" action="{{ path('app_admin_contenu_delete', {'id': contenu_front_info.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contenu_front_info.id) }}">
    <button class="btn btn-inverse-danger me-2">Supprimer</button>
</form>
