
footer{
    position: relative;
    width: 100%;
}

.img-footer{
    max-width: 20vw;
}

@media (max-width: 320px) {
    .navbar {
    width: 100% !important;
    }
}

// @media(min-width:992px){
//     #navbarSupportedContent{
//         display: flex !important;
//     }
// }