{% extends 'base.back.html.twig' %}

{% block title %}Hello AdminAffichatorController!{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}
    <h1>Les Affiches</h1>
<!-- Add the date range picker HTML -->
<input name ="daterange" type="text" id="date-range-picker">

<!-- Add the "Générer une affiche" button -->
<button id="affiche-bouton">Générer une affiche</button>

{% block javascripts %}

{% endblock %}


{% endblock %}