<form method="post" action="{{ path('app_admin_type_de_seance_delete', {'id': type_de_seance.id}) }}" onsubmit="Etes-vous sûr de vouloir supprimer ce type de seance?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_de_seance.id) }}">
    <button class="btn btn-inverse-danger me-2">Supprimer</button>
</form>
