{% extends 'base.html.twig' %}

{% block title %}Hello FrontProgrammationController!{% endblock %}

{% block body %}
<div class="programmation border p-3 col-md-10 mx-auto">

    <div id="external-events">
    </div>

    <div id="calendrier">
    </div>

</div>
{% endblock %}
